<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="2">

    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album.id)">
      <div class="slide-content">
        <img [src]="album.image">
        <p>{{ album.name }}</p>
      </div>
    </swiper-slide>

  </swiper-container>

  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="2">

    <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtist(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image">
        <p>{{ artist.name }}</p>
      </div>
    </swiper-slide>

  </swiper-container>

</ion-content>

<ion-footer>
  <ion-text color="danger" *ngIf="!song?.name">
    <h2>Hola</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song?.name">
    <h2>{{song.name}}</h2>
  </ion-text>
</ion-footer>
